{% extends 'security/base.html.twig' %}

{% block content_title %}MC - Ingreso{% endblock %}

{% block form_content %}
<form method="post">
  <img class="img-fluid mb-3" src="{{ asset("images/logo-text.png") }}" alt="Logo">

  {% for label, messages in app.flashes %}
      {% for message in messages %}
          <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      {% endfor %}
  {% endfor %}

  {% if error %}
  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  {% if last_sync %}
  <div class="alert alert-info text-center">
    Contingencia actualizada al {{ last_sync.createdAt|date('d-m-Y') }}
  </div>
  {% endif %}

  <h1 class="h3 mb-3 font-weight-normal">Ingrese sus credenciales</h1>
  <div class="form-group d-none">
    <label for="username">Nombre de usuario</label>
    <input type="text" value="{{ app.user.originalUser.rut }}" name="_username" id="username" class="form-control"
      autocomplete="username" required autofocus>
  </div>

  <div class="form-group mt-3">
    <label for="password">Contraseña</label>
    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
  </div>

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

  <div class="mt-3">
    <button class="btn w-100 btn-lg btn-primary text-uppercase" type="submit">
      Ingresar
    </button>
  </div>
</form>
{% endblock %}
